body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 90%;
	max-width: 650px;
	margin: 40px auto;
	text-align: left;
	color: #444;
	background-color: #EEEEE8;
	padding: 10px;
	font-size: 16px;
	line-height: 1.4;
}

#nav {
	list-style-type: none;
	margin: 0;
	margin-bottom: 5%;
	padding: 0;
	overflow: hidden;
	font-size: 110%;
	background-color: #CCCCCC;
}

#nav li a {
	float: left;
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

h1 {
	margin-bottom: 2%;
}

pre {
	background-color: #101010;
	font-family: Courier, 'New Courier', monospace;
	font-size: 12px;
	margin: 1.5em 10px;
	padding: 10px;
	color: #eee;
}

#title, #subtitle {
        display: inline-block;
        margin-bottom: 5%;
        font-size: 170%;
}

#subtitle {
        font-size: 100%;
}

#blogpost li {
	margin-bottom: 1%;
}

#posttitle, #postdate {
	display: inline-block;
}

#postdate {
	font-size: 100%;
   	float: center;
	padding-bottom: 5%;
	display: block;
}

a {
	color: darkred;
}

img {
	padding: 0;
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}

blockquote {
	background: #fafaf8;
	border-left: 7px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
}

.caption {
	font-size: 75%;
}

footer {
	text-align: right;
	margin: auto;
	padding-top: 90px;
}
